<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Contato</title>
        <h:outputScript library="js" name="scriptIframes.js"/>

    </h:head>
    <body style="margin:0px; padding: 0px; overflow:hidden" onLoad="Init();" onkeydown="window.parent.rolagem(event)">
        <div id="fb-root"></div>

        <div style="position:absolute; width:100%; color:#003">


            <div id="tituloEquipe" style="width:20%; margin-left: 40%; position:absolute; z-index: 2; margin-top: 2%; background-color:#009; height: 8%; text-align: center; font-size:32px; color:#fff;">Contato</div>
            <div id="tituloEquipe" style="width:21%; margin-left: 39.5%; position:absolute; z-index: 1; margin-top: 2%; background-color:#CCC; height: 8%; transform: rotate(-3deg);"></div>

            <div style="position:relative; float:left; margin-top: 100px; margin-left: 7%; width: 40%;">
                <h1 style="text-decoration:underline">Ideiah - Soluções em Software</h1>
                <h2>PampaTec - Sala 11</h2>
                <h3>Fones: (055) 3422-8400 Ramal 2023</h3
                ><h3>Endereço:</h3>
                Av. Tiarajú nº 1406<br/>
                Bairro: Projetado<br/>
                Cep: 97546-550<br/>
                Alegrete - RS<br/>
                <h3>Email:</h3>
                contato@ideiah.com<br/>
                <br/>
                <div class="fb-like" data-href="https://www.facebook.com/IdeiahSoftware?fref=ts" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3462.4988407061164!2d-55.76561505557248!3d-29.79212963699214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1435588285104" width="45%" height="450" frameborder="0" style="border:0; margin-top: 100px; margin-right: 7%; position:relative; float:right;"></iframe>

        </div>
    </body>
</html>
