<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Equipe</title>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="equipe.css"/>
        </f:facet>
        <h:outputScript library="js" name="scriptIframes.js"/>
    </h:head>
    
    <body style="margin:0px; padding: 0px; overflow:hidden;" onLoad="Init()" onkeydown="window.parent.rolagem(event)">

        <div id="gridInfoEquipe" class="gridInfoEquipeOFF">

            <a href="#" onClick="javascript:infoMembro('close');" style="position:relative; float:right; font-size:24px; font-family:Arial, Helvetica, sans-serif; color:#FFF; right: -15px;"> X </a>
            <div id="descricaoGrid">
                <span style="line-height: 24px;">
                    <span id="targetFoto"></span>
                    <span id="targetNome" style="font-size:24px"></span>
                    <span id="targetTexto"></span>
                </span>
                <span id="cursor" style="border-bottom: #FFF 3px solid; vertical-align:top; line-height: 15px;">&nbsp;</span></div>

        </div>


        <div id="fundoGrid" class="fundoGridOFF" onClick="javascript:infoMembro('close');"></div>


        <div id="containerEquipe" style="position:absolute; width:100%; height:100%; ">


            <div id="tituloEquipe" style="width:20%; margin-left: 40%; position:absolute; z-index: 2; margin-top: 2%; background-color:#ffcc00; height: 6%; text-align: center; font-size:32px; color:#000;">Equipe</div>
            <div id="tituloEquipe" style="width:21%; margin-left: 39.5%; position:absolute; z-index: 1; margin-top: 2%; background-color:#CCC; height: 6%; transform: rotate(-3deg);"></div>
            <!--
            ######################
            #
            #  FILEIRA SUPERIOR  #
            #
            ######################
            -->
            <div id="divEqFloatEsquerda" class="membT">

                <div class="boxFloatT membroT">
                    <a href="#" onClick="infoMembro();
                lancadorGrid('131151974', 40, 'http://i.imgur.com/T5bLsVg.jpg')">
                        <div id="membro02" style="background-image: url(http://i.imgur.com/T5bLsVg.jpg);" class="boxIndividual">
                            <h:graphicImage url="http://i.imgur.com/byqrBom.png"/>
                        </div>
                        <div class="membroEtiqueta">Peterson Luiz da Rosa Rodrigues<br/><span style="font-size:13px">Engenharia de Software</span>
                                <div style="display:none;">
                                    <span id="nome_131151974">Peterson Luiz da Rosa Rodrigues||</span>
                                    <span id="curso_131151974">CURSO: | Engenharia de Software - 5º Sem ||</span>
                                    <span id="cargo_131151974">CARGO: | Presidente, Diretor de Negócios||</span>
                                    <span id="descricao_131151974">
                                        CURSOS:|
                                        - Auxiliar Administrativo - SENAC [2012]|
                                        - Framework Hibernate - Ideiah Soluções em Software [2015]|
                                        - Framework JSF - Ideiah Soluções em Software [2015]|
                                        - Controle de Versão - Ideiah Soluções em Software [2015]|
                                        |
                                        ATIVIDADES EXERCIDAS:|
                                        Comunicação e Expressão; Psicologia Organizacional;|
                                        Matemática Comercial e Financeira; Rotinas Comerciais;|
                                        Rotinas Trabalhistas; Rotinas Financeiras e Fiscais;|
                                        Linguagens de programação, Banco de Dados, Frameworks, Arquiteturas;|
                                        Notações para modelagem; Processo de software.
                                        |
                                        |
                                        CONTATO:
                                        |
                                        Email: petersonlrrodrigues@gmail.com
                                    </span>
                                </div>
                        </div>     	
                    </a>
                </div>        

                <div class="boxFloatT membroT">
                    <a href="#" onClick="infoMembro();
                lancadorGrid('121150126', 50, 'http://i.imgur.com/SuBY5bJ.jpg')">
                        <div id="membro02" style="background-image: url(http://i.imgur.com/SuBY5bJ.jpg);" class="boxIndividual">
                            <h:graphicImage url="http://i.imgur.com/byqrBom.png"/>
                        </div>
                        <div class="membroEtiqueta">Anderson Schwede Raugust<br/><span style="font-size:13px">Engenharia de Software</span>
                                <div style="display:none;">
                                    <span id="nome_121150126">Anderson Schwede Raugust||</span>
                                    <span id="curso_121150126">CURSO: | Engenharia de Software - 7º Sem ||</span>
                                    <span id="cargo_121150126">CARGO: | Diretor Administrativo||</span>
                                    <span id="descricao_121150126">CONHECIMENTOS:|
                                        - UML|
                                        - Agile Methodologies|
                                        - Software Engineering|
                                        - Java; Android; Databases|
                                        - Software Development|
                                        |
                                        CONTATO:|
                                        Email: anderson.raug@gmail.com|
                                        |
                                        MÍDIAS SOCIAIS:|
                                        twitter.com/andersonraug|
                                        facebook.com/andersonraug|
                                        br.linkedin.com/in/andersonraug
                                    </span>
                                </div>
                        </div>     	
                    </a>
                </div> 

                <div class="boxFloatT membroT">
                    <a href="#" onClick="infoMembro();
                lancadorGrid('121150130', 50, 'http://i.imgur.com/dq7U1b1.jpg')">
                        <div id="membro02" style="background-image: url(http://i.imgur.com/dq7U1b1.jpg);" class="boxIndividual">
                            <h:graphicImage url="http://i.imgur.com/byqrBom.png"/>
                        </div>
                        <div class="membroEtiqueta">Pedro Henrique França<br/><span style="font-size:13px">Engenharia de Software</span>
                                <div style="display:none;">
                                    <span id="nome_121150130">Pedro Henrique França Silva||</span>
                                    <span id="curso_121150130">CURSO: | Engenharia de Software - 7º Sem ||</span>
                                    <span id="cargo_121150130">CARGO: | Desenvolvedor||</span>
                                    <span id="descricao_121150130">CONHECIMENTOS:|
                                        - UML|
                                        - Agile Methodologies|
                                        - Software Engineering|
                                        - Java; Android; Databases|
                                        - Software Development|
                                        |
                                        CONTATO:|
                                        Email: peu06@hotmail.com|
                                        |
                                    </span>
                                </div>
                        </div>     	
                    </a>
                </div> 

            </div>
            <!--
            ######################
            #
            #  FILEIRA INFERIOR  #
            #
            ######################
            -->
            <div id="divEqFloatDireita" class="membB">

                <div class="boxFloatB membroB">
                    <a href="#" onClick="infoMembro();
                lancadorGrid('141150378', 50, 'http://i.imgur.com/IzA2uXX.jpg')">
                        <div id="membro02" style="background-image: url(http://i.imgur.com/IzA2uXX.jpg);" class="boxIndividual">
                            <h:graphicImage url="http://i.imgur.com/byqrBom.png"/>
                        </div>
                        <div class="membroEtiqueta">Juliano Puiati Pires<br/><span style="font-size:13px">Engenharia de Software</span>
                                <div style="display:none;">
                                    <span id="nome_141150378">Juliano Puiati Pires||</span>
                                    <span id="curso_141150378">CURSO: | Engenharia de Software - 3º Sem ||</span>
                                    <span id="cargo_141150378">CARGO: | Desenvolvedor||</span>
                                    <span id="descricao_141150378">CONHECIMENTOS:
                                        Java|
                                        |
                                        CONTATO:
                                        |
                                        Email: jjulianopires@gmail.com
                                    </span>
                                </div>
                        </div>     	
                    </a>
                </div> 

                <div class="boxFloatB membroB">
                    <a href="#" onClick="infoMembro();
                lancadorGrid('151150950', 60, 'http://i.imgur.com/FHKHES7.jpg')">
                        <div id="membro02" style="background-image: url(http://i.imgur.com/FHKHES7.jpg);" class="boxIndividual">
                            <h:graphicImage url="http://i.imgur.com/byqrBom.png"/>
                        </div>
                        <div class="membroEtiqueta">Régis Amaral<br/><span style="font-size:13px">Engenharia de Software</span>
                                <div style="display:none;">
                                    <span id="nome_151150950">RÉGIS AMARAL||</span>
                                    <span id="curso_151150950">CURSO: | Engenharia de Software - 1º Sem ||</span>
                                    <span id="cargo_151150950">CARGO: | Desenvolvedor||</span>
                                    <span id="descricao_151150950">FORMAÇÃO:|
                                        - Administração de Empresas [URCAMP / 2013]
                                        |
                                        - Técnico em Informática [IFF / 2004]
                                        ||
                                        ÁREAS DE ESTUDO E DESENVOLVIMENTO:|
                                        - Web Design: HTML5, CSS3 e Javascript |
                                        - Linguagens: PHP e Java |
                                        |
                                        CONTATO:
                                        |
                                        Fone/Whats: 055 9607-4438
                                        |
                                        Email: amaral.regis@hotmail.com
                                    </span>
                                </div>
                        </div>     	
                    </a>
                </div> 





            </div>
            <!-- div container -->
        </div>
    </body>
</html>

