/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2015, 14:37:08
    Author     : Pedro
*/


#portfolio{
    margin: 0 auto;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
}
.divPortifolio{
    margin-left: 5%;
}


#divConteudo{
    box-shadow: #444 1px 1px 3px;
    overflow: hidden;
    background-color: #4b7194;
    min-height: 500px;
    position: absolute;
    width: 97%;
    padding: 20px;
}
.botaoAvanco{
    background-color: #444;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    width: 100%;
    height: 100%;
    font-size: xx-large;
}

.botaoAvanco:hover{
    color: #FFCC00;
}

.butaoBase{
    display: inline-block;
    background-color: #ccc;
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
}


.divPortifolio{
    box-shadow: #444 3px 3px 10px;
    overflow: hidden;
    margin-top: 5%;
    height: 169px;
    width: 376px;
}

.img-portifolio{
    height: 170px;
    width: 376px;
}


.informacoes{
    background-color: #222;
    height: 70px;
}

.button-info{
    display: inline-block;
    background-color: #FFCC00;
    color: #444;
    padding: 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.button-info:hover{
    background-color: #FFCC00;
    color: whitesmoke;
}

.informacoes h4{
    color: white;
}

.divPortifolio:hover .info-direita{  
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.divPortifolio:hover .info-esquerda{  
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.divPortifolio:hover .informacoes{  
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.informacoes{
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.centered{
    text-align: center;
}

.titulo-modal{
    background-color: #FFCC00;
}

.titulo-modal h4{
    color:  black;
}

.font-titulo{
    font-family: Gill Sans MT;
}

.font-texto{
    font-family: Rockwell;
}

@media screen and (max-width: 1200px) {
    .divPortifolio{
        overflow: hidden;
        margin-top: 5%;
        height: 144px;
        width: 301px;
    }

    .img-portifolio{
        height: 144px;
        width: 301px;
    }

    .divPortifolio:hover .informacoes{  
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
    }
}

@media screen and (max-width: 990px) {
    .divPortifolio{
        overflow: hidden;
        margin-top: 5%;
        height: 360px;
        width: 752px;
    }

    .img-portifolio{
        height: 360px;
        width: 752px;
    }

    .divPortifolio:hover .informacoes{  
        -webkit-transform: translateY(-70px);
        -moz-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        transform: translateY(-70px);
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
    }

    .divBotaoDireita{
        display: none;
    }

    .divBotaoEsquerda{
        display: none;
    }

    #divButtonBotton{
        display: block;
        width: 100%;
        background-color: #222;
        height: 70px;
    }
    
    #divBottonDireita{
        position: absolute;
        right: 40%;
        height: 15px;
        width: 40px;
    }
    
    #divBottonEsquerda{
        position: absolute;
        left: 35%;
        height: 15px;
        width: 40px;
    }
}

.divBotaoDireita{
    top: 0;
    right: 0;
    position: absolute;
    background-color: #444;
    width: 50px;
    height: 100%;
    opacity: 0.2;
}

.divBotaoDireita:hover{
    opacity: 1;
}

.divBotaoEsquerda{
    top:0;
    left: 0;
    position: absolute;
    background-color: #444;
    width: 50px;
    height: 100%;
    opacity: 0.2;
}

.divBotaoEsquerda:hover{
    opacity: 1;
}

#iconeDireita{
    position: absolute;
    top: 50%;
    color: #FFCC00;
}

#iconeEsquerda{
    position: absolute;
    top: 50%;
    color: #FFCC00;
    right: 0;
}

#divButtonBotton{
    width: 100%;
    background-color: #222;
    overflow: hidden;
    margin-top: 15px;
}

.botaoAvancoBotton{
    background-color: #FFCC00;
    color: whitesmoke;
    border-radius: 360px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    border: 0px;
    font-size: xx-large;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
}

.botaoAvancoBottonDireita{
    background-image: url('http://i.imgur.com/5IssFlY.png');
}

.botaoAvancoBottonEsquerda{
    background-image: url('http://i.imgur.com/3kcFGJk.png');
}

.modal-portifolio{
    height: 100%;
}

#divBottonDireita{
    width: 0px;
    height: 0px;
}

#divBottonEsquerda{
    width: 0px;
    height: 0px;
}